*****************************************************************
*    This server is an immutable image created with
*    Packer and Ansible. It should not be changed.
*
*    Last configured at {{ ansible_date_time.iso8601 }}
*
*    MAKE CHANGES ONLY IF YOU KNOW WHAT YOU'RE DOING
*****************************************************************
*    region: {{ ansible_local.aws_instance.region | default("unknown") }}
*    instance-id: {{ ansible_local.aws_instance.instance_id | default("unknown") }}
*    namespace: {{ ansible_local.aws_tags.namespace | default("unknown") }}
*    environment: {{ ansible_local.aws_tags.environment | default("unknown") }}
*    project: {{ ansible_local.aws_tags.project | default("unknown") }}
*    application: {{ ansible_local.aws_tags.application | default("unknown") }}
*****************************************************************
{% if ansible_local.aws_tags.environment is defined and ansible_local.aws_tags.environment in ["prod", "production", "dev"] %}
*\e[41m \e[97 \e[5m              WARNING THIS IS A PRODUCTION SYSTEM              \e[0m
*****************************************************************
{% endif %}
