deb https://cloudfront.debian.net/debian/ {{ ansible_distribution_release }} main contrib
deb https://cloudfront.debian.net/debian-security/ {{ ansible_distribution_release }}/updates main contrib
deb https://cloudfront.debian.net/debian/ {{ ansible_distribution_release }}-updates main contrib
